details {
    padding:  15px 15px 5px 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding-right: 35px;
}

summary {	
    font-weight: bold;
    margin: -.75em -.75em 0;
    padding: .75em;
    background-color: #DDEDF6;
    color: #31708f;
}

summary:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
  top: -2px;
  right: -21px;
  color: #31708f;
}

details[open] {
    padding:  15px;
    padding-right: 35px;
}

details[open] summary {
    margin-bottom: 10px;
}

details[open] summary:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}